doctype html
//
  Metronic by TEMPLATE STOCK
  templatestock.co @templatestock
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
//if IE 7
  html.no-js.ie7.oldie(lang='en-US')
//if IE 8
  html.no-js.ie8.oldie(lang='en-US')
// [if gt IE 8] <!
html.no-js(lang='en-US')
    // <![endif]
    head
        // META DATA
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // Title
        title Thuan Nguyen - LO classes
        // CSS Global Compulsory
        link(rel='stylesheet', href='/public/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/css/style.css')
        // CSS Implementing Plugins
        link(rel='stylesheet', type='text/css', href='/public/css/animate.min.css')
        link(rel='stylesheet', type='text/css', href='/public/css/menu.css')
        // Fonts
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900', rel='stylesheet', type='text/css')
        // JS
        script(type='text/javascript', src='/public/js/modernizr.js')
        script(type='text/javascript', src='/public/js/snap.svg-min.js')
        link(rel='stylesheet', type='text/css', href='http://webnextbd.net/demo/css/ie.css')
    body.image-background
        // Preloader
        #preloader
            #loading-animation  
        #section-home.home-section-wrap.center
            .section-overlay
        // /Overlay
        // container
        .containers
            .main
                // header
                header.header-site
                    h2 Thuan Nguyen
                // /header
                // section
                section.section.fullscreen.site-main
                    .container-section
                        .container-table
                            .content-table
                                // bt-carousel
                                .bt-carousel
                                    // home section
                                    .item-slide.show
                                        // container
                                        .container
                                            .row
                                                .col-md-10.col-md-offset-1
                                                    // content slide
                                                    .content-slide
                                                        #clock-countdown.animated.bounceInDown(data-animation-delay='700')
                                                        h3.color-white.top-margin.animated.bounceInDown(data-animation-delay='700')
                                                            | Loan Originating Classes from the best mortgage broker in town.
                                                            .br Stay tuned!
                                                    // /content slide
                                            // /row
                                        // /container
                                    // /home section
                                // /bt-carousel
                // /section
            // /main
        // /containerF
        // JS
        script(type='text/javascript', src='/public/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/public/js/bootstrap.min.js')
        script(type='text/javascript', src='/public/js/jquery.backstretch.min.js')
        script(type='text/javascript', src='/public/js/jquery.countdown.min.js')
        script(type='text/javascript', src='/public/js/jquery.particleground.min.js')
        script(type='text/javascript', src='/public/js/main.js')
